<div class="table-responsive">
    <table class="table table-bordered table-sm" id="dataTable">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Status</th>
                <th class="text-center">
                    <button (click)="abrirModalCriaCartao()" class="btn btn-sm btn-success" [disabled]="state === 'V'">
                        <em class="fa fa-plus"></em>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lista of listaCartao">
                <td class="text-center">{{ lista.id }}</td>
                <td class="text-center"><i [class]="returnIconStatus(lista.statusEntrada)"></i></td>
                <td class="text-center">
                    <button class="btn btn-sm btn-info" (click)="abrirModalCartao(lista)">
                        <i class="fa-fw fas fa-search"></i>
                    </button>
                    <button (click)="abrirModalCartaoEditar(lista)" class="btn btn-sm btn-secondary ml-2" [disabled]="state === 'V'">
                        <i class="fa-fw fas fa-edit"></i>
                    </button>
                    <button (click)="confirmDeleteCartaoUsuario(lista)" class="btn btn-sm btn-danger ml-2" [disabled]="state === 'V'">
                        <i class="fa-fw fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>