<div class="container-fluid">
    <div class="card shadow mt-4 mb-3 content-body">
        <div class="card-body">
            <h2 class="h3 mb-2 text-gray-800">Alunos</h2>
        </div>
    </div>

    <div class="card shadow mb-4 content-body">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" id="dataTable">
                    <thead>
                        <tr>
                            <th class="text-center">Matrícula</th>
                            <th class="text-center">Nome</th>
                            <th class="text-center">Cartões</th>
                            <th colspan="2" class="text-center">
                                <button class="btn btn-sm btn-success" title="Cadastro de Alunos" (click)="abrirModalCriaUsuario()">
                                    <em class="fa-fw fa fa-plus"></em>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lista of listaUsuario">
                            <td class="text-center">{{ lista.matricula }}</td>
                            <td class="text-center">{{ lista.nome }}</td>
                            <td><select class="form-control">
                                    <option *ngFor="let cartao of lista.cartoes" value="cartao.id">{{cartao.id}}</option>
                                </select> </td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-info" (click)="abrirModalUsuario(lista)">
                                    <i class="fa-fw fas fa-search"></i>
                                </button>
                                <button class="btn btn-sm btn-secondary ml-2" (click)="abrirModalUsuarioEdicao(lista)">
                                    <em class="fa-fw fa fa-edit"></em>
                                </button>
                                <button class="btn btn-sm btn-danger ml-2" (click)="confirmDeleteCartaoUsuario(lista)">
                                    <em class="fa-fw fa fa-trash"></em>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>