<div class="modal-header">
  <h4 class="modal-title pull-left">Cadastro Cartão</h4>

  <button type="button" class="close ml-2" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="cartaoForm">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Código</label>
        <input type="text" class="form-control" formControlName="idCartao">
      </div>
      <div class="form-group col-6">
        <label for="inputState">Data de Início</label>
        <input type="date" class="form-control" formControlName="dataInicio">
      </div>
      <div class="form-group col-6">
        <label for="inputState">Data de Fim</label>
        <input type="date" class="form-control" formControlName="dataFim">
      </div>
      <div class="form-group col-12">
        <label for="inputState">Salas</label>
        <select class="form-control" id="idFechadura" formControlName="idFechadura" (change)="changeFechadura($event)">
          <option *ngFor="let fechadura of fechaduras" [value]="fechadura.id">{{ fechadura.descricao }}</option>
        </select>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-sm" id="dataTable">
          <thead>
            <tr>
              <th class="text-center">Dias</th>
              <th class="text-center">Hora início</th>
              <th class="text-center">Hora término</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dia of listaSemanal">
              <td>
                <div class="form-check">
                  <input class="form-check-input" (change)="addSlot($event)" type="checkbox" [value]="dia.diaSemana"
                    id="invalidCheck2" [formControlName]="'dia' + dia.diaSemana">
                  <label class="form-check-label" for="invalidCheck2">
                    {{ dia.nomeDia }}
                  </label>
                </div>
              </td>
              <td (change)="changeHoraInicoSlot(dia.diaSemana, $event)" class="text-center"> <select [disabled]="isDisabledColunaHora(dia.diaSemana) || state == 'V'" 
                  class="form-control" id="hourSelect">
                  <option *ngFor="let hora of horasInicio" [selected]="hora === dia.horaInicio" [value]="hora">{{ hora
                    }}</option>
                </select>
              </td>
              <td (change)="changeHoraFimSlot(dia.diaSemana, $event)" class="text-center"> <select  [disabled]="isDisabledColunaHora(dia.diaSemana) || state == 'V'" class="form-control"
                  id="hourSelect">
                  <option *ngFor="let hora of horasFim" [selected]="hora === dia.horaFim"  [value]="hora">{{ hora }}
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="display: flex; flex-direction: row-reverse;">
      <button (click)="confirm()" class="btn btn-primary" *ngIf="state !== 'V'"
        [disabled]="cartaoForm.invalid">Salvar</button>
      <button *ngIf="state === 'V'" (click)="closeModal()" class="btn btn-danger">Fechar</button>
    </div>

  </form>
</div>

<div class="modal-footer pb-0">

</div>