<ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/']">
        <div class="sidebar-brand-icon">
            <i class="fas fa-wifi"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Home</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/usuario']">
            <i class="fas fa-fw fa-users"></i>
            <span>Usuários</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/fechadura']">
            <i class="fas fa-fw fa-lock"></i>
            <span>Fechaduras</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

</ul>
