<div class="modal-header">
  <h4 class="modal-title pull-left">Cadastro Alunos</h4>

  <button type="button" class="close ml-2" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="usuarioForm">
    <div class="form-row">
      <div class="form-group col-6">
        <label>Nome  <label class="error-message">*</label></label>
        <input required type="text" class="form-control" formControlName="nome">
      </div>
      <div class="form-group col-6">
        <label>E-mail  <label class="error-message">*</label></label>
        <input required type="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group col-7">
        <label>Matricula  <label class="error-message">*</label></label>
        <input required type="number" class="form-control" formControlName="matricula">
      </div>
      <div class="form-group col-5">
        <label>Data de Nascimento  <label class="error-message">*</label></label>
        <input required type="date" class="form-control" formControlName="dataNasc">
      </div>
    </div>
    <div>
      <small class="error-message">
        * Campos obrigatórios.
      </small>
    </div>
    <div>
      <app-cartao *ngIf="state !== 'I'" (evento)="evento.emit(true)" [idUsuario]="usuarioForm.get('id').value" [listaCartao]="cartoes" [state]="state"></app-cartao>
    </div>
    <div style="display: flex; flex-direction: row-reverse;">
      <button *ngIf="state === 'I'" (click)="confirm()" class="btn btn-primary" [disabled]="usuarioForm.invalid">Salvar</button>
      <button *ngIf="state === 'E'"  (click)="confirm()" class="btn btn-primary" [disabled]="usuarioForm.invalid">Alterar</button>
      <button *ngIf="state === 'V'" (click)="closeModal()" class="btn btn-danger">Fechar</button>

    </div>
  </form>
</div>

<div class="modal-footer pb-0">

</div>