<div class="container-fluid">
    <div class="card shadow mt-4 mb-3 content-body">
        <div class="card-body">
            <h2 class="h3 mb-2 text-gray-800">Fechaduras</h2>
        </div>
    </div>

    <div class="card shadow mb-4 content-body">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" id="dataTable">
                    <thead>
                        <tr>
                            <th class="text-center">Nome</th>
                            <th class="text-center">Descrição</th>
                            <th class="text-center">
                                <button (click)="abrirModalFechaduraInsercao()" class="btn btn-sm btn-success">
                                    <em class="fa fa-plus"></em>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lista of listaFechadura">
                            <td class="text-center">{{ lista.nome }}</td>
                            <td class="text-center">{{ lista.descricao }}</td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-info" (click)="abrirModalFechadura(lista)">
                                    <i class="fa-fw fas fa-search"></i>
                                </button>
                                <button (click)="abrirModalFechaduraEdicao(lista)" class="btn btn-sm btn-secondary ml-2" [disabled]="state === 'V'">
                                    <i class="fa-fw fas fa-edit"></i>
                                </button>
                                <button (click)="confirmDeleteFechaduraById(lista)" class="btn btn-sm btn-danger ml-2">
                                    <i class="fa-fw fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>